<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>KK&R System </span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/clientes" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Clientes
      </a>
      <a mat-button routerLink="/vendas" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        Vendas
      </a>
      <a mat-button routerLink="/pagamentos" routerLinkActive="active">
        <mat-icon>payment</mat-icon>
        Pagamentos
      </a>
      <a mat-button routerLink="/cobrancas" routerLinkActive="active">
        <mat-icon>receipt</mat-icon>
        Cobranças
      </a>
      <a mat-button routerLink="/relatorios" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        Relatórios
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
