<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
          Cadastro de cliente
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="100px" gutterSize="8px">

        <mat-grid-tile>
          <mat-form-field class="input-medio">
            <mat-label>Nome</mat-label>
            <input matInput required="true"/>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field class="input-medio">
            <mat-label>Ativo</mat-label>
            <input matInput />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="input-medio">
            <mat-label>Telefone</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input matInput required="true"/>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Data de cobrança</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>

    <mat-card-actions>
      <button matButton>cancelar</button>
      <button matButton>confirmar</button>
    </mat-card-actions>

</mat-card>
