.input-pequeno {
  width: 120px;
}

.input-medio {
  width: 250px;
  margin-bottom: 10px;
}

.input-grande {
  width: 100%; /* ocupa toda a linha */
}

.input-filtragem {
  width: 250px;
  margin: 25px 0px 5px 15px;
}

button {
  margin: 0px 0px 0px 2rem;
}

.mat-mdc-card-header {
  margin: 1rem 0rem 1rem 2rem;
}

table {
  width: 100%;
}


